.pkm_grid_card
    border: 2px solid #e2e2e2
    border-radius: 10px
    background-color: #FFF 
    margin-bottom: 10px
    margin-right: 10px
    width: 200px
    padding: 15px

.pkm_grid_card_link
    display: flex
    flex-direction: column
    color: black
    text-decoration: none

    .pkm_grid_card_img
        width: 125px
        height: 125px

    .pkm_grid_card_number
        color: #a6a6a6
        font-size: 12px
        font-weight: bold
    
    .pkm_grid_card_title
        margin: 10px 0 5px
        color: #484848

