.pkm_grid
  display: flex
  flex-flow: row wrap
  justify-content: flex-start
  padding: 10px
  margin: 0 auto
  max-width: 976px

@media screen and ( max-width: 1065px )
    .pkm_grid
        max-width: 765px

@media screen and ( max-width: 868px )
    .pkm_grid
        max-width: 514px

@media screen and ( max-width: 614px )
    .pkm_grid
        max-width: 252px
    